<ngx-loading [show]="loading"></ngx-loading>
<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 text-center pb-1">
            <h2>Global Stats</h2>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6">
            <input [(ngModel)]="date" 
                    (ngModelChange)="getDataByDate()" type="text" 
                    [maxDate]="service.maxDate"
                    placeholder="Select date"
                    [bsConfig]="{ dateInputFormat: 'MMMM DD, YYYY'}" class="form-control datepicker" bsDatepicker  autocomplete="off">
            <img (click)="refresh()" src="assets/refresh.svg" class="refresh_icon">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-black bg-light mb-3" >
                <div class="card-body text-center">
                    <h5 class="card-title">Confirmed</h5>
                    <p class="card-text stats-numbers">{{globalData?.result.confirmed}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-black bg-light mb-3" >
                <div class="card-body text-center">
                    <h5 class="card-title">Deaths</h5>
                    <p class="card-text stats-numbers">{{globalData?.result.deaths}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-black bg-light mb-3" >
                <div class="card-body text-center">
                    <h5 class="card-title">Recovered</h5>
                    <p class="card-text stats-numbers">{{globalData?.result.recovered}}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-3" >
        <div class="col-12" style="text-align: center;margin: 0 auto;">
            <h3>Countries majorly affected</h3>
        </div>
        
    </div>

    <div class="row">

        <div *ngIf="lineChartdata" class="col-lg-12 col-sm-12 col-md-12 line_graph_padding graph__container mt-3">
            <ngx-charts-line-chart
            style="margin: 0 auto"
            [view]="view"
            [scheme]="colorScheme"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [yAxisTickFormatting]= "axisYFormat"
            [timeline]="timeline"
            [results]="lineChartdata"
            >
          </ngx-charts-line-chart>            
        </div>


        <div *ngIf="pieData" class="col-lg-12 col-sm-12 col-md-12 pie_graph_padding graph__container mt-5">
          <ngx-charts-pie-chart
          style="margin: 0 auto"
          [view]="view"
          [scheme]="pieColorScheme"
          [results]="pieData"
          gradient=false
          [legend]="legend"
          [labels]="showLabels"
          [doughnut]="doughnut"
          >
        </ngx-charts-pie-chart>          
        </div>

        <div *ngIf="barGraphData" class="col-lg-12 col-sm-12 col-md-12 bar_graph_padding graph__container mt-5">
            <ngx-charts-bar-vertical
            style="margin: 0 auto"
            [view]="view"
            [scheme]="colorScheme"
            [results]="barGraphData"
            [gradient]="true"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [yAxisTickFormatting]= "axisYFormat"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
          </ngx-charts-bar-vertical>          
        </div>
    </div>
</div>